.btn, .diva-name {
    margin-right: 15px;
    margin-bottom: 25px;
    margin-top: 15px;
    background-color: pink;
    border: 1px solid pink;
}

.btn:hover, .diva-name:hover {
    background-color: #ff00ff;
    border: 1px solid #ff00ff;
}

p{
    margin-top: 50px;
}

#divaGifs{
    margin-bottom: 20px;
}

.jumbotron{
    background-color: pink;
    text-align: center;
    color: #fff;
}